.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  display: block;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
}

.form__input {
  display: block;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  margin-top: 8px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.form__button {
  width: 100%;
  padding: 0;
  margin-bottom: 32px;
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 60px;
  color: #ffffff;
  background-color: #2f80ed;
  border: 0;
  border-radius: 4px;
  margin-top: 32px;
}
