.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  padding: 40px 80px 30px;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-position: center;
  background-size: cover;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  max-width: 646px;
  min-height: 568px;
}

.header__title {
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.06px;
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
  z-index: 1;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-weight: normal;
  font-style: normal;
  font-family: "Noto Serif";
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;

  line-height: 20px;
  color: #6f6f6f;
}
