.page {
  font-family: Inter, Arial, sans-serif;
  margin: 0 auto;
  min-width: 1100px;
  max-width: 1600px;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url(../images/background_header.svg);
  padding: 40px 80px 30px;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 20px;
}

.nav__link {
  color: #000;
  text-decoration: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__image {
  position: absolute;
  right: 5px;
  top: 124px;
  max-width: 646px;
  min-height: 568px;
}

.header__title {
  font-size: 60px;
  line-height: 72px;
  margin: 183px 0 0;
  letter-spacing: -0.06px;
  font-weight: 500;
  font-family: "Inter";
  font-style: normal;
  z-index: 1;
}

.header__description {
  max-width: 683px;
  font-size: 20px;
  line-height: 30px;
  margin: 28px 0 0;
  font-weight: normal;
  font-style: normal;
  font-family: "Noto Serif";
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.header__paragraph {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;

  line-height: 20px;
  color: #838383;
}

.recipes {
  padding: 100px 80px 215px;
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
}

.recipes__videos {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin: 80px 0 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  color: #ffffff;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}
